Flask-Migrate==2.7.0
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
folium==0.12.1
Frozen-Flask==0.15
jdcal==1.4.1
et-xmlfile==1.0.1
Flask==1.1.2
Flask-BasicAuth==0.2.0
pycparser==2.20
pytz==2020.1
gunicorn==19.1.0